*{
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    color: whitesmoke;
}
a{
    text-decoration: none;
    color: whitesmoke;
}
header {
    width: 100%;
    height: 700px;
    background-image: url(../image/bg2.jpg);
}
.tittle {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgb(182, 177, 177);
    font-size: 25px;
    background-color: black;

}
#btn{
    width: 200px;
    height: 85px;
}
.tittle a {
    margin: 20px;
    font-size: 20px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    background-color: black;
    padding: 50px;
    background-repeat: no-repeat;
  }
.chiled1 {
    background-image: url(../image/show1.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled2 {
    background-image: url(../image/show2.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled3 {
    background-image: url(../image/show3.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled4 {
    background-image: url(../image/show4.webp);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled5 {
    background-image: url(../image/show5.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}
.chiled6 {
    background-image: url(../image/show6.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled7 {
    background-image: url(../image/show7.jpg);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
.chiled8 {
    background-image: url(../image/show8.webp);
    background-size: contain;
    height: 200px;
    font-size: 30px;
    background-repeat: no-repeat;
}
