{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'image/netflix-logo.png' %}" type="image/x-icon">
    <title>Netflix-Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
    <header>
        <div class="tittle">
            <a href="{% url 'homepg:home' %}"><img src="{% static 'image/netflix-logo2.png' %}" alt="" id="btn"></a>
            <a href="{% url 'homepg:home' %}">Home</a>
            <a href="{% url 'homepg:shows' %}">TV Shows</a>
            <a href="{% url 'homepg:movie' %}">Movies</a>
            <a href="#">New & Nopiler</a>
            <a href="#">My List</a>
            <a href="#">Browse & Language</a>
        </div>
    </header>
    <main>
        <div class="one-gp"><h1>TV Shows</h1></div>
        <div class="container">
            <a href=""><div class="chiled1"><h3>lucifer</h3></div></a>
            <div class="chiled2"><h3></h3></div>
            <div class="chiled3"><h3>president</h3></div>
            <div class="chiled4"><h3>lucifer</h3></div>
            <div class="chiled5"><h3></h3></div>
        </div>
        <div class="one-gp"><h1>Movies</h1></div>
        <div class="container">
            <div class="chiled1"><h3>lucifer</h3></div>
            <div class="chiled2"><h3></h3></div>
            <div class="chiled3"><h3>president</h3></div>
            <div class="chiled4"><h3>lucifer</h3></div>
            <div class="chiled5"><h3></h3></div>
        </div>
        <div class="one-gp"><h1>News</h1></div>
        <div class="container">
            <div class="chiled1"><h3>lucifer</h3></div>
            <div class="chiled2"><h3></h3></div>
            <div class="chiled3"><h3>president</h3></div>
            <div class="chiled4"><h3>lucifer</h3></div>
            <div class="chiled5"><h3></h3></div>
        </div>
    </main>
</body>
</html>